<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="controller_plugin_gazebo" params="robot_namespace">
    <gazebo>
      <!-- Usando o plugin nativo do Gazebo Harmonic para controle -->
      <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
        <robot_description>robot_description</robot_description>
        <xacro:unless value="${robot_namespace == ''}">
          <robot_namespace>${robot_namespace}</robot_namespace>
        </xacro:unless>
        <update_rate>1000</update_rate>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
